# Define a linguagem principal como Dart
*.dart linguist-language=Dart

# Exclui arquivos irrelevantes do cálculo da linguagem
*.md linguist-documentation
*.yaml linguist-detectable=false
*.json linguist-detectable=false
*.lock linguist-detectable=false
