# Forçar o GitHub a reconhecer Dart como a linguagem principal
*.dart linguist-language=Dart

# Excluir arquivos de configuração do cálculo da linguagem
*.yaml linguist-detectable=false
*.json linguist-detectable=false
*.lock linguist-detectable=false
*.c++ linguist-detectable=false
*.md linguist-documentation
